Access to fetch at 'https://moja-market-backend-2.onrender.com/api/auth/login' from origin 'https://moja-market-web.vercel.app' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.
script.js:11  POST https://moja-market-backend-2.onrender.com/api/auth/login net::ERR_FAILED